# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

msvc/Release/*
.vs/*
Debug/*
*.dll
*.ipch
*.tlog
*.pdb
*.obj
*.exp
*.db
msvc/.vs/itsavar/v16/Browse.VC.opendb
msvc/.vs/itsavar/v16/Browse.VC.db-wal
msvc/.vs/itsavar/v16/Browse.VC.db-shm
msvc/.vs/itsavar/v16/.suo
msvc/.vs/itsavar/v16/.suo
